<div class="row mt-3 mt-md-0">
    <div class="col-md-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success me-3" type="submit">Save</button>
                    <button class="btn btn-danger" type="button">Cancel</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" class="form-control" formControlName="imageUrl">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="img-responsive">
                        <img src="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group d-flex flex-column">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="30" rows="3" formControlName="description"></textarea>
                    </div>
                </div>
                <div class="col-md-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredientCtrl of recipeForm.get('ingredients')?.controls; let i = index;">
                        <div class="col-md-12" [formGroupName]="i">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="{{'ingredientName' + i}}">Ingredient Name</label>
                                    <input type="text" id="{{'ingredientName' + i}}" class="form-control" formControlName="ingredientName">
                                </div>
                                <div class="col-md-4">
                                    <label for="{{'ingredientAmount' + i}}">Ingredient Amount</label>
                                    <input type="number" id="{{'ingredientAmount' + i}}" class="form-control" formControlName="ingredientAmount">
                                </div>
                                <div class="col-md-2 mt-2 mt-md-4">
                                    <button class="btn btn-danger" type="button">X</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <button class="btn btn-success" (click)="addIngredient()">Add Ingredient</button>
                </div>
            </div>
        </form>
    </div>
</div>