<div class="row">
    <div class="col-xs-12">
        <img [src]="recipeDetail?.imagePath" width="300" height="300" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipeDetail?.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" role="button">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Add To Shopping List</a></li>
                <li><a href="#">Edit Shopping List</a></li>
                <li><a href="#">Delete From Shopping List</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipeDetail?.desc}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>