<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" [routerLink]="'new'">New Recipe</button>
        <button class="btn btn-warning ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      Filter
    </button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <a class="list-group-item clearfix cursor-pointer" *ngFor="let recipe of recipes; let i = index" (click)="sendRecipeDetail(i)">
            <app-recipe-item [recipe]="recipe"></app-recipe-item>
        </a>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="filterForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="filterBy">Filter By</label>
                        <select formControlName="filterBy" id="filterBy">
              <option>Place</option>
            </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="offcanvas-footer border-top mb-2 pt-2">
        <button class="btn btn-primary ms-3" data-bs-dismiss="offcanvas" (click)="filter()">
      Apply
    </button>
        <button class="btn btn-success ms-3" data-bs-dismiss="offcanvas" (click)="clearFilter()">
      Clear
    </button>
    </div>
</div>